{deps, [
    {neotoma, "1.7.3"}
]}.
{plugins, [
    rebar3_hex,
    {rebar3_neotoma_plugin, "0.2.0"}
]}.
{erl_first_files, [
    "src/xmlrat_xmldecl_parse.peg", "src/xmlrat_xlmdecl_parse.erl",
    "src/xmlrat_generic_parse.peg", "src/xmlrat_generic_parse.erl",
    "src/xmlrat_parse.erl", "src/xmlrat_mini_xslt.erl",
    "src/xmlrat_xpath_parse.peg", "src/xmlrat_xpath_parse.erl",
    "src/xmlrat_xpath_utils.erl", "src/xmlrat_xpath_compile.erl",
    "src/xmlrat_parse_transform.erl"
]}.
{provider_hooks, [
    {pre, [
        {compile, {neotoma, compile}}
    ]}
]}.
{project_plugins, [rebar3_edoc_extensions]}.
